<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_root" name="Hospital" sequence="1"/>

    <menuitem id="menu_patient"
              name="patient"
              parent="om_hospital.menu_root"
              sequence="5"
              action="om_hospital.action_patient"
    />

    <menuitem id="menu_test"
              name="test"
              parent="om_hospital.menu_root"
              sequence="1"
              action="om_hospital.action_test"
    />
    <menuitem id="menu_sale_order"
              name="Sales Order"
              parent="om_hospital.menu_root"
              sequence="7"
              action="om_hospital.action_inherit_sale_order"
    />
    <menuitem id="menu_doctor"
              name="Doctor"
              sequence="6"
              parent="om_hospital.menu_test"
              action="om_hospital.action_doctor"
    />
    <menuitem id="menu_doctor-1"
              name="Doctor"
              sequence="5"
              parent="om_hospital.menu_doctor"
              action="om_hospital.action_doctor"
    />
    <menuitem id="menu_doctor-2"
              name="Doctor"
              sequence="6"
              parent="om_hospital.menu_doctor"
              action="om_hospital.action_doctor"
    />
</odoo>
